<div class="row">
    <h4>Nuevo Dispositivos</h4>
    <form>
          <input name="nombre" type="text" [(ngModel)]="dispositivo.nombre">
          <label>Nombre</label>
      <div>
          <input name="serie" type="text" [(ngModel)]="dispositivo.serie">
          <label for="serie">Serie</label>
      </div>
          <input name="tipo" type="text" [(ngModel)]="dispositivo.tipo">
          <label>Tipo</label>
        <div>
          <input name="usuarioId" type="text" [(ngModel)]="dispositivo.usuarioId">
          <label>Usuario</label>
        </div>
        <br>
      <a class="waves-effect waves-light btn" (click)="guardar()" >Guardar</a>
    </form>
  </div>
