<h4>Dispositivos</h4>
<table class="striped">
    <thead>
      <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Serie</th>
          <th>Tipo</th>
          <th>Usuario</th>
          <th>Leer Mas...</th>
          <th>Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dispositivo of dispositivos">
        <td>{{ dispositivo | id }}</td>
        <td>{{ dispositivo.nombre }}</td>
        <td>{{ dispositivo.serie }}</td>
        <td>{{ dispositivo.tipo }}</td>
        <td>{{ dispositivo.usuarioId }}</td>
        <td><a class="waves-effect waves-light btn" [routerLink]="['/dispositivos', dispositivo.id]">Leer</a></td>
        <td><a class="waves-effect waves-light btn" [routerLink]="['', dispositivo.id]">Editar</a></td>
      </tr>
    </tbody>
  </table>
